body {
    background-image: url(../imagens/fundo.jpg);
}

div {
    background-color: rgba(5, 13, 56, 0.63);
    padding: 10px;
    margin-top: 8px;
    text-indent: 15px;
    text-align: justify;
}

p {
    color: rgb(201, 193, 216);
}

.blocos {
    display: grid;
    grid-template-columns: 0.12fr 1fr;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#center {text-align: center;}

.icon {padding-left: 0px;
       padding-right: 15px;
       border-radius: 50%;
       height: 120px;
       width: 120px;
       background-size: cover;}

.infoplanet {border-radius: 35px;
    background-color: rgba(5, 13, 56, 0.53)}